header {
	position: relative;
}
nav {
	width: 100%;
	height: 50px;
	background-color: #212121;
	position: fixed;
	top: 0;
	z-index: 2;
}

.namebox {
	@include namebox;
}
.namebox_white {
	@include namebox_white;
}
.hamburger {
	display: none;
}

//header start
.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
	&_link {
		color: $main_text_white;
		font-size: 15px;
		font-weight: 300;
		text-decoration: none;
		&:hover {
			color: $btn-color
		}
	}
	&_item {
		border-right: 2px dotted black;
		padding-right: 45px;
        &:last-child {
            border-right: none;
            padding-right: 0px;
        }
	}
}
.subheader {
	margin-top: 50px;
	padding-bottom: 17px;
	width: 100%;
	position: absolute;
	min-height: 75px;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
	&_logo {
		display: block;
		max-width: 100%;
		margin-top: 16px;
	}
	&_distr {
		margin-top: 6px;
		opacity: 0.5;
		color: $main_text_white;
		font-size: 13px;
		font-weight: 400;
		line-height: 13px;
	}
	&_call {
		margin-top: 23px;
		color: $main_text_white;
		font-size: 12px;
		font-weight: 300;
		text-align: right;
		line-height: 11px;
	}
	&_phone {
		margin-top: 8px;
		display: block;
		color: $main_text_white;
		font-size: 22px;
		font-weight: 400;
		text-align: right;
		text-transform: uppercase;
		text-decoration: none;
		line-height: 16px;
	}
	.xs-visible {
		display: none;
	}
	&_btn {
		margin-top: 19px;
		width: 172px;
		height: 46px;
		@include btn;
		font-size: 14px;
	}
}
// header end
.promo {
	min-height: 800px;
    width: 100%;
	background-image: url("../img/bg/uber_bg.jpg");
	@include bg;
	padding: 135px 0 135px 0;
	&_header {
		margin-top: 67px;
		color: $main_text_white;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		font-size: 60px;
		line-height: 60px;
		margin-bottom: 0px;
	}
	&_subheader {
		margin-top: 14px;
		color: $main_text_white;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 0px;
	}
	&_descr {
		margin-top: 23px;
		color: $main_text_white;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
	}
	&_btn {
		display: block;
		margin: 118px auto 0 auto;
		width: 259px;
		height: 63px;
		@include btn;
		box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
		font-size: 18px;
	}
}
// 1 box
.causes {
	min-height: 900px;
	background-color: $main_text_white;
	padding: 71px 0 65px 0;
	.mt-40 {
		margin-top: 40px;
	}
	.title {
		@include title;
		margin: 0;
		margin-top: 38px;
	}
	&_item {
		display: flex;
		justify-content: center;
		align-items: center;
		&_round {
			width: 113px;
			height: 113px;
			background-color: #1eacc7;
			@include round;
			margin-right: 26px;
		}
		&_text {
			width: 341px;
			color: #202020;
			font-size: 15px;
			font-weight: 300;
			line-height: 21px;
			text-align: justify;
		}
		&_title {
			color: #1eacc7;
			font-size: 17px;
			font-weight: 400;
		}
	}
}
// 2 box
.mobile {
	min-height: 690px;
	padding: 48px 0 80px 0;
	background-image: url("../img/bg/mobile_bg.jpg");
	@include bg;
	.mt-32 {
		margin-top: 32px;
	}
	.title {
		@include title;
		margin-top: 38px;
	}
	.subtitle {
		@include subtitle;
		margin-top: 19px;
	}
	.last {
		margin-bottom: 0px;
	}
	&_item {
		position: relative;
		max-width: 320px;
		height: 280px;
		margin: 0 auto;
		padding-top: 92px;
		margin-bottom: 19px;
		&_subtitle {
			color: $main_text_white;
			font-size: 24px;
			font-weight: 400;
			line-height: 31px;
			text-align: center;
			text-transform: uppercase;
		}
		&_plus {
			position: absolute;
			bottom: 35px;
			left: 50%;
			transform: translateX(-50%);
			width: 26px;
			height: 26px;
			background-color: $bg_black;
			// padding: 6px;
			@include round;
			cursor: pointer;
			&:before {
				content: "";
				display: block;
				width: 14px;
				height: 2px;
				background-color: $btn-color;
				transition: 0.5s all;
			}
			&:after {
				content: "";
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				display: block;
				height: 14px;
				width: 2px;
				background-color: $btn-color;
				transition: 0.5s all;
			}
			&:hover {
				&:before, &:after {
					background-color: #ff5656;
				}
			}
		}
	}

	.box_1 {
		background: url("../img/mobile_block/box_1.jpg");
		@include bg;
	}
	.box_2 {
		background: url("../img/mobile_block/box_2.jpg");
		@include bg;
	}
	.box_3 {
		background: url("../img/mobile_block/box_3.jpg");
		@include bg;
	}
	.box_4 {
		background: url("../img/mobile_block/box_4.jpg");
		@include bg;
	}
	.box_5 {
		background: url("../img/mobile_block/box_5.jpg");
		@include bg;
	}
	.box_6 {
		background: url("../img/mobile_block/box_6.jpg");
		@include bg;
	}
}
// 3 box
.uber {
	.first_box {
		height: 500px;
		background-color: #070716;
		padding-top: 57px;
		.title_white {
			@include title;
			color: $main_text_white;
			margin-top: 32px;
		}
		.subtitle_white {
			@include subtitle_white;
			margin-top: 19px;
		}
		.car {
			margin: 0 auto;
			margin-top: 56px;
            max-width: 760px;
            max-height: 480px;
            img {
                width: 100%;
                height: 100%;
            }
		}
		.text {
			display: none;
		}
	}
	.second_dox {
		height: 400px;
		background-image: url(../img/bg/choice_bg.jpg);
		@include bg;
		padding-top: 217px;
		padding-bottom: 138px;
		.text {
			margin: 0 auto;
			width: 297px;
			color: #222222;
			font-size: 17px;
			font-weight: 300;
			line-height: 24px;
			text-align: center;
		}
	}
}
// 4 box
.require {
	min-height: 920px;
	background-color: $main_text_white;
	padding: 68px 0 84px 0;
	.title {
		@include title;
		margin-top: 32px;
	}
	&_block {
		margin: 33px 0;
		&_nbm {
			margin-bottom: 0px;
		}
	}
	&_title {
		color: #1ca8c3;
		font-size: 22px;
		font-weight: 400;
		line-height: 18px;
	}
	&_list {
		margin: 22px 0 0 0;
		list-style-type: none;
		padding-left: 50px;
		li {
			position: relative;
			margin-bottom: 10px;
			font-size: 17px;
			font-weight: 300;
			line-height: 24px;
			&:last-child {
				margin-bottom: 0;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: -32px;
				top: 2px;
				width: 21px;
				height: 20px;
				background: url("../icons/check_blue.svg") center (center / cover) no-repeat;
			}
		}
	}
	&_descr {
		margin-top: 21px;
		color: #1ca8c3;
		font-size: 17px;
		font-weight: 300;
	}
	.warning {
		.require_title {
			color: #ff5656;
		}
		.require_list {
			li {
				&:before {
					background: url("../icons/check_red.svg") center (center / cover) no-repeat;
				}
			}
		}
	}
}
// 5 box
.world {
	background-color: #080816;
	.map {
		max-width: 1440px;
		min-height: 717px;
		margin: 0 auto;
		background-image: url("../img/bg/world_bg.jpg");
		@include bg;
		padding: 49px 0 49px 0;
		.content {
			.title_white {
				@include title_white;
				margin-top: 32px;
			}
			.subtitle_white {
				@include subtitle_white;
				margin-top: 20px;
			}
			.text {
				display: block;
				margin-top: 486px;
				color: #1fbad6;
				font-size: 15px;
				font-weight: 400;
				line-height: 14px;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
}
.footer {
	padding-bottom: 30px;
	min-height: 100px;
	border-bottom: 8px solid #070716;
	&_wrapper > div {
		width: 33%;
		// position: relative;
	}
	&_wrapper {
		display: flex;
		justify-content: space-between;
		.social {
			display: flex;
			justify-content: space-between;
			// position: absolute;
			width: 200px;
			height: 32px;
			padding: 0 23px;
			margin: 52px 0 0 0;
			&_item {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				height: 32px;
				background-color: #070716;
				border-radius: 100%;
				text-decoration: none;
				i {
					color: #ffffff;
					text-decoration-color: #00000000;
				}
				span {
					color: #ffffff;
				}
			}
		}
		.links {
			width: 100%;
			&_line{
				max-width: 300px;
				margin: 14px auto 0;
				height: 4px;
				background-color: #1fbad6;
			}
			&_chapters {
				display: flex;
				max-width: 364px;
				justify-content: space-between;
				margin: 32px auto 0;
				list-style-type: none;
				padding: 0 0;
				line-height: 11px;
				&_link {
					color: #070716;
					font-size: 15px;
					font-weight: 300;
					text-transform: uppercase;
					text-align: center;
					text-decoration: none;
				}
			}
			&_subchapters {
				display: flex;
				max-width: 392px;
				justify-content: space-between;
				margin: 16px auto 0;
				list-style-type: none;
				line-height: 8px;
				padding: 0;
				&_link {
					color: #999999;
					font-size: 11px;
					font-weight: 300;
					text-transform: uppercase;
					text-decoration: none;
				}
			}
			&_language {
				display: block;
				margin: 19px auto 0;
				color: #1fbad6;
				font-size: 11px;
				font-weight: 400;
				line-height: 11px;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
		.donwload {
			display: flex;
			justify-content: space-between;
			// position: absolute;
			max-width: 345px;
			height: 28px;
			padding: 0 23px;
			margin: 52px 0 0 auto;
			&_item {
				width: 95px;
				height: 27px;
			}
			.box_1 {
				background-image: url(../icons/footer/footer_1.png);
				@include bg;
			}
			.box_2 {
				background-image: url(../icons/footer/footer_2.png);
				@include bg;
			}
			.box_3 {
				background-image: url(../icons/footer/footer_3.png);
				@include bg;
			}
		}
	}
	&_wrapper_v2 {
		display: none;
		.links {
			&_line {
				margin: 0 auto;
				width: 254px;
				height: 4px;
				background-color: #1fbad6;
			}
			&_chapters {
				margin: 22px auto 0;
				width: 285px;
				display: flex;
				justify-content: space-between;
				list-style-type: none;
				padding: 0 0;
				line-height: 11px;
				&_link {
					font-size: 14px;
					line-height: 14px;
					color: #070716;
					font-weight: 300;
					text-transform: uppercase;
					text-align: center;
					text-decoration: none;
				}
			}
			&_subchapters {
				margin: 10px auto 0;
				width: 250px;
				display: flex;
				justify-content: space-between;
				list-style-type: none;
				line-height: 8px;
				padding: 0;
				.block {
					display: flex;
					height: 35px;
					flex-direction: column;
					justify-content: space-between;
					.sub_row {
						display: flex;
						flex-direction: row;
						font-weight: 300;
						font-size: 11px;
						line-height: 11px;
						align-items: center;
						text-transform: uppercase;
						color: #999999;
					}
				}
				.middle {
					justify-content: flex-end;
				}
				.end {
					align-items: flex-end;
				}
			}
			&_language {
				font-size: 11px;
				line-height: 11px;
				display: block;
				margin: 10px auto 0;
				color: #1fbad6;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
		.social {
			display: flex;
			justify-content: space-between;
			// position: absolute;
			width: 156px;
			height: 32px;
			margin: 18px auto 0;
			&_item {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				height: 32px;
				background-color: #070716;
				border-radius: 100%;
				text-decoration: none;
				i {
					color: #ffffff;
					text-decoration-color: #00000000;
				}
				span {
					color: #ffffff;
				}
			}
		}
		.donwload {
			display: flex;
			justify-content: space-between;
			// position: absolute;
			width: 260px;
			height: 24px;
			padding: 0;
			margin: 20px auto 0;
			&_item {
				width: 85px;
				height: 24px;
			}
			.box_1 {
				background-image: url(../icons/footer/footer_1.png);
				@include bg;
			}
			.box_2 {
				background-image: url(../icons/footer/footer_2.png);
				@include bg;
			}
			.box_3 {
				background-image: url(../icons/footer/footer_3.png);
				@include bg;
			}
		}
	}
	
}